#map {
    position:relative;
    height: 600px;
    margin-bottom: 10px;
  }

  .input_box {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    margin: 15px;
  }

  #getUserLocationButton{
    margin-left: 15px;
  }
  #user_location{
    width: 300px;
  }

  #socketConnectButton{
    margin-left: 15px;
  }

  .coord_input {
    max-width: 50px;
  }

  #route_input {
    position: relative;
    /* top: -124px; */
  }

  .route_main_row {
    background-color: #A0A0A0;
  }

  .routeBox {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    margin: 15px;
  }
