#map {
    position:relative;
    height: 600px;
    margin-bottom: 10px;
  }

  .input_box {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    margin: 15px;
  }

  #getUserLocationButton{
    margin-left: 15px;
  }
  #user_location{
    width: 300px;
  }

  #socketConnectButton{
    margin-left: 15px;
  }

  .coord_input {
    max-width: 50px;
  }

  .route_list_title {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .route_list_details {
    /*padding-right: px;*/
    padding-left: 5px;
  }

  .route_list_table {
    padding-top: 7px;
  }
  .route_list_th {
    padding: 7px;
    background-color: Gainsboro;
  }

  .route_list_td {
      padding: 10px;
      background-color: Silver;
  }

  .leaflet-popup-content {
    width: 580px !important;
  }

  .tracker_table{
    padding-top: 10px;
  }

  .tracker_th {
    padding: 7px;
    background-color: Goldenrod
  }

  .tracker_td {
    padding: 7px;
    background-color: Chocolate
  }

  #route_input {
    position: relative;
    /* top: -124px; */
  }

  .route_main_row {
    background-color: #A0A0A0;
  }

  .routeBox {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    margin: 15px;
  }
