<!--
TODOS:
add tracker to route creation
add destination address marker with popup showing the tracker
 -->

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Traceroutes</title>

	<link href="{{ url_for('static', filename='mapbox.css')}}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='style.css')}}" rel='stylesheet' />

	<!--  -->
	<script src="{{ url_for('static', filename='jquery-2.1.0.min.js')}}"></script>
	<script src="{{ url_for('static', filename='mapbox.js')}}"></script>
	<script src="{{ url_for('static', filename='Colour.js')}}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<script src="{{ url_for('static', filename='socket.io-1.4.5.js')}}"></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<!--  Markercluster -->
	<!-- <script src="{{ url_for('static', filename='leaflet.markercluster.js')}}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='MarkerCluster.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='MarkerCluster.Default.css') }}"> -->

</head>

<body>

	<div id='map'></div>
	<div>
		<input type="checkbox" id="exchange_nodes_checkbox" onchange="ixp_visible()">Internet Exchange Points</input>
		<input type="checkbox" id="landing_point_checkbox" onchange="landing_points_visible()">Landing Points</input>
		<button id='getUserLocationButton' onclick='getUserLocation()'>Get my location</button>
		<input disabled id='user_location'></input>
		<button id='socketConnectButton' onclick="socket_connect()">Get Routes in Realtime </button>
	</div>
	<div id="route_input" class="input_box">
		<button type="input_add_route" id="input_add_route" value="add marker" onclick="init_route()">Add Route</button>
		<button class="route_option" id="" disabled onclick="route_done()">Done</button>
		<button class="route_option" id="" disabled onclick="route_cancel()">Cancel</button>
		<p>
			URL<input id="route_url" class="route_option" disabled> </input>
			<!-- Description <input id="route_description" class="route_option" disabled> </input> -->
			Total distance <input id="route_total_km" class="route_option" disabled> </input>
			datasize (Kb)<input id="route_datasize" class="route_option" disabled> </input>
			CO2 (gr)<input id="route_co2" class="route_option" disabled> </input>
			<p>
				<table border="1" id="route_table">
					<thead class="route_main_row">
						<td>#</td>
						<td>IP</td>
						<td>Location</td>
						<td>ISP</td>
						<td>ISP-Nationality</td>
						<td>Cable Name</td>
						<td>Port In/Out</td>
						<td>NSP</td>
						<td>NSP-Nationality</td>
					</thead>
					<tbody id="route_table_body">
					</tbody>
					<tr id="add_route_point_row" class="route_main_row">
						<td align="center">
							<button class="route_option" onclick="add_route_point()" disabled>+</button>
						</td>
					</tr>
				</table>
				<table id='tracker_table' style='margin-top: 10px' border="1">
					<thead class="route_main_row">
						<td>#</td>
						<td>Tracker Name</td>
						<td>Company</td>
						<td>Nationality</td>
					</thead>
					<tbody id="tracker_table_body">
					</tbody>
					<tr class="route_main_row">
						<td>
							<button class="route_option" onclick="create_tracker_input()" disabled>+</button>
						</td>
					</tr>
				</table>
	</div>
	<div id='routes'></div>
	<hr>
	Internet Exchange points are taken from the <a href='https://www.telegeography.com/telecom-resources/internet-exchange-map/index.html'>Internet Exchange Map</a> by <a href='https://www.telegeography.com/index.html'>Telegeography</a>  which are licensed under <a href='https://creativecommons.org/licenses/by-nc-nd/3.0/'>(CC BY-NC-ND 3.0)<a> <br>
	<p>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		<br><a href='https://github.com/transfluxus/traceroutes'>Source code</a>
	</p>
	<script src="{{ url_for('static', filename='main.js')}}"></script>
</body>

</html>
